/**
 * file: css/css.css
 * purpose: styling
 **/

/* Define variables in the :root */
 :root {
   --contrast: lime;
   --backgr: #000;
 }

/* Use your variables on elements */
 main {
   color: var(--contrast);
   background-color: var(--backgr);
 }



 /* Baggrundsbillede*/
 body {
  background-image: url("../images/background1.png");
  background-size: cover; /* Strækker billedet til at dække hele skærmen */
  background-repeat: no-repeat; /* Undgår gentagelse af billedet */
  background-position: center; /* Centrerer billedet */
  height: 100vh; /* Gør body 100% af browserens højde */
  margin: 0; /* Fjerner margin, så der ikke er tomme områder */
  background-color: #000; /* Sort baggrundsfarve som fallback */
}


.logo {
    width: 200px;
    margin-top: 20px; /* Tilføjer ekstra mellemrum over logoet */
    margin-left: 20px; /* Tilføjer mellemrum fra venstre */
  }
  
